@import "../common.scss";
@import "../constant.scss";

.GM-product-container {

  .ctr-buttons {
    display: flex;
    justify-content: space-between;

    .add-product-btn, .connect-btn, .go-connect-btn {
      width: 200px;
    }

  }

  .GM-list-container {
    margin: $margin-padding-4 0;
  }

}
